*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

div{

    width: 50%;
    height: 50%;
    background-color: white;
}